@model CarProperty

<h2 class="text-center" style="font-size : 100px">@Model.Make</h2>
<h2 class="text-center">@Model.Model</h2>
<h2 class="text-center">@Model.Year</h2>
<h2 class="text-center">@Model.Type</h2>
<img src="@Url.Content(Model.PicturePath)" width="700" height="400"/>
